.g_tbdr{
  border:1px dashed black;
}
header{
  height: 107px;
  background-color: #5C1E7B;
  }
  main{
    height: 550px;
    background-color: ;
  }
  footer{
    height: 65px;
    background-color: #004D66;
  }